.navbar-custom {
    background: rgb(68,58,180);
    background: linear-gradient(90deg, rgba(68,58,180,1) 0%, rgba(252,69,76,1) 100%);
    border-bottom: 0px;
}

#main-title:hover {
    color: rgb(252,69,76);
}

.title-colored {
    color: rgb(252,69,76);
}
